@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.headerBackGround{
    display: flex;
    background-color: rgb(31, 31, 31);
    margin: 0px;
    height: 72px;
}
.block{
    height: 72px;
    width: 357px;
}
.block1{
    height: 72px;
    width: 70px;
}
.block4{
    height: 72px;
    width: 60px;
}
.img3{
    margin-top: 14px;
height: 45px;
width: 100px;
outline: none;
cursor: pointer;
}
.online{
    display: flex;
    height: 72px;
    width: 160px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.triangle-right {
    margin-top: 30px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid whitesmoke;
    border-bottom: 6px solid transparent;
}
.searchbar{
    height: 30px;
    color: whitesmoke;
    background-color: rgb(61,61,61);
}
.join{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    background-color: rgb(31, 31, 31);
    color: rgb(201, 201, 201);
    text-decoration: none;
    
    outline: none;
    cursor: pointer;
}
.join:hover{
    color: white;
}
.kino{
    display: flex;
}
.TV{
    margin-top: 23px;
    height: 25px;
    width: 25px;
}
.kinoTV{
    margin-top: 25px;
    color: rgb(201, 201, 201);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.kinoTV:hover{
    color: white;
}
.button1{
    margin-top: 20px;
    height: 30px;
    width: 70px;
    background-color: rgb(61, 61, 61);
}
.probel2{
    height: 72px;
    width: 10px;
}
.probel{
    height: 72px;
    width: 10px;
}
.online_text{
    color: rgb(201, 201, 201);
    margin-top: 27px;
}
.online_text:hover{
    color: white;
}
.kinopoisk{
    margin-top: 20px;
    border: 0px;
    padding: 0px;
    background-color: rgb(31, 31, 31);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.img3:hover{
    margin-top: 12px;
height: 50px;
width: 110px;
}
body{
    margin: 0px;
}
.sideMenuBlock
{
    position: absolute;
    left: 350px;
    top: 100px;
    width: 200px;
    height: 300px;
}
.sideMenuButton {
    border:           none;
    background-color: white;
    color:            #494545;
    margin-left:      8px;
    text-decoration:  none;
    outline:          none;
    cursor:           pointer;
  }
  .form{
      margin-top: 18px;
  }
  .probel3{
      height: 72px;
      width: 250px;
  }
  .sideMenuButton:hover {
    color:            rgb(0, 0, 0);
  }
.mainFooterBlock{
    display: flex;
    align-items: center;
}
.block2{
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 50px;
}
.text_tickets{
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.probel1{
    height: 72px;
    width: 600px;
}
.gray{
    color: rgb(167, 167, 167);
    font-size: 30px;
    font-weight: lighter;
}
.img_footer{
    height: 500px;
    border-radius: 20px;
    margin: 10px;
}
.imgButton{
    display: flex;
    justify-content: space-between;

}
.imgButton{
    position: relative;
    top: 300px;
    right: 380px;
}
.img_footer{
    box-shadow: 0px 0px 10px black
}
.imgItems{
    transition: 0.3s; 
}
.imgItems:hover {
    transform: scale(1.1); 
}
<<<<<<< HEAD
.MainContent{
    position: absolute;
    height: 1400px;
    left: 200px;
    top: -28px;
    width: 1050px;
    background-color:rgb(241, 241, 241);
}
.imgItems:hover{
    color:black
}
.mainphoto{
    position: absolute;
    top: 40px;
    left: 55px;
    border-radius: 10px;
}
.mainphoto:hover{
    cursor: pointer;
=======
.imgItems:hover{
    color:black
>>>>>>> main_footer
}