.headerBackGround{
    display: flex;
    background-color: rgb(31, 31, 31);
    margin: 0px;
    height: 72px;
}
.block{
    height: 72px;
    width: 357px;
}
.block1{
    height: 72px;
    width: 70px;
}
.online{
    display: flex;
    height: 72px;
    width: 160px;
}
.{
    width: 200px;
    height: 72px;
}
.triangle-right {
    margin-top: 30px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid whitesmoke;
    border-bottom: 6px solid transparent;
}
.kino{
    display: flex;
}
.TV{
    margin-top: 23px;
    height: 25px;
    width: 25px;
}
.kinoTV{
    margin-top: 25px;
    color: whitesmoke;
}
.probel2{
    height: 72px;
    width: 10px;
}
.probel{
    height: 72px;
    width: 10px;
}
.online_text{
    color: whitesmoke;
    margin-top: 27px;
}
.kinopoisk{
    margin-top: 20px;
    border: 0px;
    padding: 0px;
    background-color: rgb(31, 31, 31);
}
body{
    margin: 0px;
}