body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #1f1f1f;
    height: 72px;
    display: flex;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    margin-left: 15%;
    margin-right: 15%;
    height: 344px;
}

.nav {
    padding: 10px;
    background-color: #ffffff;
    width: 15%;
    height: 100vh;
    margin-left: 15%;
    border-right: 1px solid rgba(31, 31, 31, .1);

}

.p {
    background-color: #ffffff;
    width: 55%;
    margin-right: 15%;
}

.items {
    margin-top: 20px;
    padding-left: 25px;
}
.main {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;


}

#logo {
    height: 80px;
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.menu  {
    text-align: center;
    color: #a5a5a5;
    padding-left: 40px;
    align-items: center;
    display: inline-flex;
    
    
}

.menu .icons {
    width: 25px;
    height: 25px;
}


.icons {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    
}

#user {
    width: 40px;
}

#fav {
    width: 25px;
    height: 25px;
}
.carouselBlock{
    display:flex;
    flex-direction: column;
    margin-left:30px;
    margin-right:30px;
}
.carouselBlockYandexPlus{
    margin:0;
}
.carouselBlockHeader{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
}
.carouselBlockHeader div:nth-of-type(1){
    font-size: 24px;
    font-weight: bold;
}
.carouselBlockHeaderArrow div:nth-of-type(1)::after{
    content:"";
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    border: solid rgba(0, 0, 0, 0.4);
    border-width: 0 2px 2px 0;
    margin-top:4px;
    margin-right:20px;
}
.carouselBlockHeader div:nth-of-type(1) span:nth-of-type(2){
    position:relative;
    top:1px;
    font-size: 25px;
    font-weight: normal;
    opacity:0.5;
}
.carouselBlockHeader div:nth-of-type(2){
    position: relative;
    top:8px;
    font-size: 15px;
}
.carousel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.carouselItem {
    position: relative;
    margin: 20px 0px;
    display:flex;
    flex-direction: column;

}
.carouselItem span{
    font-size: 13px;
    margin-top: 5px;
}
.carouselItem span:nth-of-type(2){
    opacity:0.5;
}
.poster {
    width: 140px;
    height: 210px;
    border-radius: 4px;
}
.carouselItemRating{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: -5px;
    background-color: #3bb33b;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 32px;
    padding: 3px 7px;
    font-family: Arial,Tahoma,Verdana,sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}
.carouselItemRatingNone{
    background-color: #aaa;
}
.carouselItemTicket{
    position:absolute;
    top:185px;
    left:110px;
    width: 24px;
    height: 18px;
    background-image: url("img/icons/ticket.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 12px;
    color: #fff;
    background-color: #f60;
    border-radius: 3px;
}
.carouselItemPlus{
    position:absolute;
    top:185px;
    left:90px;
    display: inline-block;
    width: 43px;
    height: 18px;
    background: url("img/icons/YandexPlusMini.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.carouselRedactionChoiceBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carouselRedactionChoiceItem{
    margin:20px 0px;
}
.carouselRedactionChoiceItemImage{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}
.YandexPlusAddBlock{
    padding:30px;
    background-color: #141414;
    color:#fff;
}
.YandexPlusAddBlockIntro{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.YandexPlusAddBlockIntro span{
    width:600px;
    margin-top:10px;
    text-align: center;
}
.YandexPlusAddBlockIntro span:nth-of-type(1){
    font-size: 35px;
    font-weight: 900;
}
.YandexPlusAddBlockIntro span:nth-of-type(2){
    font-size: 27px;
    opacity: 0.7;
}
.YandexPlusAddBlockIntro span:nth-of-type(3){
    margin-top:20px;
    margin-bottom:20px;
    font-size: 18px;
    font-weight: 500;
    padding:10px 20px;
    width:auto;
    border-radius: 4px;
    background: linear-gradient(130.16deg,#505add 34.4%,#be40c0 66.11%,#fba82b 96.37%);
}
.YandexPlusAddBlockDevices{
    position:relative;
    display: flex;
    margin-top: 65px;
    font-family: Arial,Tahoma,Verdana,sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background: #222;
}
.YandexPlusAddBlockDevices img{
    position: absolute;
    top: -23px;
    right: 50px;
    width: 390px;
    height: 235px;
    object-fit: contain;
}
.YandexPlusAddBlockDevicesText{
    box-sizing: border-box;
    max-width: 520px;
    padding: 58px 0 58px 58px;
}
.YandexPlusAddBlockDevicesText span:nth-of-type(1){
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}
.YandexPlusAddBlockDevicesText span:nth-of-type(2){
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: 0.7;
}
.mainFilm{
    display:flex;
    position:relative;
    overflow: hidden;
    margin:0 30px;
    height:400px;
}
.mainFilmInfo{
    z-index:2;
    width:70%;
    color:#fff;
    font-size: 12px;
    line-height: 1.5;
    padding:40px;
    background-image: linear-gradient(90deg,#0c0c0c 65%,rgba(12,12,12,.5),rgba(31,31,31,0));
}
.mainFilmInfoMainText{
    font-size: 14px;
    line-height: 1.43;
}
.mainFilmInfoSubText{
    margin-top:8px;
    opacity:0.4;
}
.mainFilmVideo{
    height:400px;
    position:absolute;
    left:220px;
}
.mainFilmInfoSubscribe{
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #868eff;
}
.mainFilmInfoSubscribeModule span:nth-of-type(1){
    background: linear-gradient(130.16deg,#505add 34.4%,#be40c0 66.11%,#fba82b 96.37%);
    margin-right: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height:18px;
    height: 40px;
    padding: 11px 18px 11px 14px;
    border-radius: 4px;
    cursor: pointer;
}
.mainFilmInfoSubscribeModule span:nth-of-type(1)::before{
    content: "";
    font-size: 0;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-right: 9px;
    border-color: transparent;
    border-left-color: #fff;
    border-style: solid;
    border-width: 7px 0 7px 12px;
}
.mainFilmInfoSubscribeModule span:nth-of-type(2){
    display:inline-flex;
    padding: 11px 18px 11px 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
    background-color: hsla(0,0%,40%,.3);
    border-radius:4px;
}
.mainFilmInfoSubscribeModule span:nth-of-type(2)::before{
    content:"";
    display: block;
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 10px;
    background-image: url("img/icons/plus.svg");
}
.calendariBlock {
    padding: 0px 30px;
}
.calendar {
    display: flex;
    flex-direction: row;
    background-color: salmon;
    width:100%;
}
.calendarColumn {
    width: 50%;
    padding-right: 15px;
    background-color: royalblue;
}
.calendarColumn:last-of-type{
    padding-right: 0px;
    
}
.calendarColumnFilmImage {
    width: 40px;
    height: 60px;
    border-radius: 3px;
 
}
.calendarColumnFilm span {
    position: relative;
    top: -25px;
}
.calendarColumnFilm {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.calendarColumnIconImage {
    width: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

