.left_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100vh;
    margin-left: 15%;
    /* margin-left: -17%; */
    /* margin-right: 16px; */
    border-right: 1px solid rgba(31,31,31,.1);
    background-color: white;
}
.menu {
    width: 180px;
    height: 24px;
    padding-left: 12%;
    margin-top: 12px;
    font-size: large;
    color: #A5A5A5;
}
#main {
    margin-top: 23px;
    color: black;
}
.MainDiv {
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
}
.content {
    background-color: white;
    width: 55%;
    margin-right: 15%;

}

body {
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #F4F4F4;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #1F1F1F;
    height: 344px;
    padding-top: 44px;
    margin-left: 15%;
    margin-right: 15%;
}
.first_foot {
    display: flex;
    justify-content: space-between;
    width: 264px;
    margin: auto;
    /* margin-left: 30%; */
    padding: 20px;
    align-self: center;
}
.foot_icon {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 20px;
    /* margin: 0 70px; */
}
.second_foot {
    margin: auto;
    text-align: center;
    padding: 0;
    display: block;
    /* list-style-type: disc; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-inline-start: 40px;
    align-self: center;
}
.ul-items {
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 27px;
    color: #A5A5A5;
    font-size: large;
}
.section_buttons {
    align-self: center;
    margin: 35px 0 56px;
    /* display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 15px; */
    /* column-gap: 30px; */
}
.buttons {
    width: 160px;
    height: 45px;
    color: #A5A5A5;
    background-color: rgb(87, 87, 87);
    border-radius: 3px;
    margin: 0 10px;
}
.foot_bottom {
    display: inline-flex;
    align-self: center;
    /* grid-template-columns: 1fr max-content 1fr; */
    width: 89%;
    padding: 28px 0 29px;
    font-size: 16px;
    /* line-height: 15px; */
    border-top: 1px solid hsla(0,0%,100%,.05);
}
.left_bottom {
    display: block;
    justify-self: flex-start;
    color: #A5A5A5;
}
.center_bottom {
    display: block;
    /* margin: 0;
    padding: 0;
    padding-inline-start: 30px; */
    margin: 0 20%;
    text-align: center;
    color: #A5A5A5;
}
.right_bottom {
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    color: #A5A5A5;
}
.menu_icons {
    height: 16px;
    width: 16px;
}
/* #main_icon {
    border-bottom:1px solid orange;
} */
