body {
    flex-direction: column;
    background-color: #f4f4f4;
    display: flex;
    height: 450vh;
   

    margin: 0%;
     
    
    overflow-x: hidden;


}

.lastm {

font-family: 'Graphic';


}
.bigheads{
    position: fixed;
    width: 100vw;
}
 .header {
    border-collapse: collapse;
    border-spacing: 50px;
    background-color: #1f1f1f;
    color: #A5A5A5;
    text-align: center;
    vertical-align: middle;
    margin: 0%;
    font-family: 'Graphic';
    width: 100%;


}

.redactionchos {
    margin-left: 25%;
}

.redactionchos td img {
    width: 220px;
}

.redactionchos {
    border-spacing: 20px;
}

.redactionchos tr td p {
    font-size: 1.5em;
    width: 220px;

}

.moviesplus img {
    margin-top: 30px;
    width: 129px;
}

.bubalda {
    color: gray;
    font-size: 2em;

}

.moviesplus {
    background-color: rgb(26, 24, 24);
    margin-left: 23%;
    margin-right: 5%;
    text-align: center;
}

.yaplusmain {
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.kinoHead {
    color: white;
}

@font-face {
    font-family: 'Graphic';
    src: url(./public/fonts/GraphikLCG-Bold.ttf);
}

@font-face {
    font-family: "graphicItal";
    src: url(./public/fonts/GraphikLCG-SemiboldItalic.ttf);
}

input {
    background-color: #3e3e3e;
    border-radius: 5px;
    width: 300px;
    height: 35px;
}

.zaebalsia {
    color: white;
    width: 205px;
    background: linear-gradient(150deg, blue, blue, violet, orange);
    border-radius: 5px;
    height: 44px;
    border: hidden;
}

.blyat {
    color: white;
}

.moviesseries {
    text-align: center;
}

.moviesseries tr td img {
    width: 220px;
}

.trtabpriK td p {
    color: gray;
    font-size: 1em;
    vertical-align: top;
}

.prikolblia {

    border-spacing: 30px;
    width: 100%;
    color: white;
    font-family: "graphicital";

}

.prikolblia tr td {
    border-radius: 5px;
}

/* dcjknskdnc */
.plus {
    color: white;
    width: 50px;
    background: linear-gradient(150deg, blue, blue, violet, orange);
    border-radius: 40px;


}

.plustxt {
    width: 300%;
}

.headPlus {
    border-collapse: collapse;
    margin: auto;
    height: 20px;
    text-align: right;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40px;
}

.avatar {
    border-radius: 50%;
}

.avatarRound {
    border-radius: 50%;
}

.mark {
    text-align: right;
}

/* .headRow{
    flex-direction: row;
} /*   flex-direction: row;
    width: 100;
} */

td {
    vertical-align: center;
}

input {
    background-color: #fff;
    size: 200px;

}

.leftMenu {
    /* border-collapse: collapse; */
    margin-left: 5%;
    margin-top: 5%;
    border-right: 1px solid gray;
    width: 20%;
    color: white;
    font-family: "GraphicItal";




}

.leftMenu {
    filter: brightness(50%);
    position: fixed;
    margin-top: 10%;
    width: 18%;
    border-spacing: 15px;

}

.space {
    height: 100%;
}

.glav {
    color: black;
    filter: brightness(0%);
}
#cold{
    margin-top:20%;
    border-radius: 5px;
}

/* .photo1
{  margin-top: 40px;
    margin-bottom: 600px; 
    margin-right: 500px; 
    margin-left: 500px; 
} */

.raschet {
    margin-left: 5%;
    margin-top: 5%;
    
}
.content{
    /* background-image: url(./public/images/холодныи_расчет.jpg); */
    margin-left: 23%;
    width: 500px  ;
    /* background-image: url(//kinopoisk-ru.clstorage.net/oE1522a34/318b9eVTSj3b/YpDkR3kzG6WL6putjnhKoDnRFn7yMBXUC8u69tjSHRhR8B4oOiqxeyJP2ZET1q_eryT6pmzls-_Daegk1485O1aQ4OYo9t6xPytOjXsND9FMdEa_R0VHYyn4-DWacBt_Nkd63E7Kof7X-niElsLqL24w3MD4oKTqJr_6EZTbfkhwQsXl7RJpxG3YC92PCDmU6cMFe3Bi1sLq6Agl-dGbTmaXG70c7-JtJ8qptUVxicoOg11QjrOHOMbdmMHX-D35AnAn9lyzukQd6YiPnHkp1voxNjogA-eBu0uK9kkSu15Ftysfb5yiXVRJGJclcwhIz6CfsFzBFBn2PisilCre-jDTZ5TvAwlGLqvorf75WFabUgfq4KJWgIjouWZb0hn_BOVI_-_cE19EWxvm9SE5ys4DbXMeAyZpxh4pM5aJTznjwYXWPYPbd86JG118aJlnuUPVyTFS9dAreYqnW-AYrsflKQ1PXgLOd1mZR8aDm4iOkv9j79H3-9fu-_NHKkw5wyFlxF-zeKSfyXuNXVooR4vzhljQ4deSiZiqBsshuS3UZJm9_L5zDuV7iva1QtgqDSIdgK_TxpjH3rjxRBicevHhZCTekzqkDnhZzE6KO9arkNUKQIAWcstYysY5s5tN9AVZDbzfwBwnidrkxcCqS7wBzSPOIbeIRS75c4WajpoRg5WGf1GZxB3L2-xMW3nW6fGVW5IDFlNZ2ehEimEK3kZHuM5vPvOP14v45kYw-Yuf4_3h_HCnGIdua1I26o4bkPLHBxyBeOZsifq87PsadqiTpUkCkTRS-MrKtCjha8xnV7n-bazRzBY7u2TG4Rk7LbDsYS0gxlp1X9oht6lMSSOAplT_ATl2bRu6rb8KmBRaEHZ7E1BW0viYyRS6QLs_haXrfc1u4Y6FmkmnVGNI-K3z3_OP0AZ6hL7bc9cazCugcaZkbLE6pz3YGI3fK4qmm9HniVNyl_Or-0kXaAJ5zyf324_dHhDvN7vKlnRDKLqf09-BLABUOmV82zF3Cu_6UcKHN02S2tSvGlvcDHhJRetxJDujwvfCmPnItPjx64535viN3u3T_iWIOdcmkXoYHJFeMX6TpglV31kytWt8OjCjpkSN8PjGfxvYn58oKFS70je6k-Kk8CjqiHTaQ0kcNdXJTW7MoC3EGiiW9nCISf9xXlPu4fWIBH7p8NV6bZrQgEVUjqKbNN0piZ5cinimu8G1-UDSFnP4uAjl6gIqjxe16s6tbnOO9Ior9eaBKjmeET8SjuHWCFftyUOHym2a8pClRyzz6tTeSfvtPzioZigx5emikNcSSSioVsrxCK5kZ7rNjT3BHdfbybaH86garJE-UgwjJggGXpnTNzi-y8DzZaV8gRpEXIl63i1quoWp4FcoIBKEQCnLeQXqorsv1-X4va3dE__Gedqm5XLJi54QjxJcMvRJdO-7Med6f5hDEbc2jKCZBa3YeM4OKJgGGgE1KHHAlQKJSbhGmMAZXkX0GO8NbCP-tHvbpqVAi_q8g78AXCGkW_Ss2jHXWN2Y05KHBV2i6ETN2jttfqhb5VqRV5kw4cUQ6KuKNroCuY5GJOtcfNyDbUcK-KbE44qJblAcca4RJEm3TljD1dh-mkGghZXMoZs2TTu5HG5aiLWIk-fpYQAGMUlZy0Q58qtu1pdo_eyc8511q7sml_F6ug2yv8E_wjc4F87Y8CV6DnnyQ-flX7G6Ro5KeX8eCnpl61InCkJi1ILrK8l0-ZIrXXYn-P5s79FvFmq5l8ZDmiu_gs_RLfBk2YQMaUMGizxbsMGkF38B-qbueeqf7rgIFYoyZ1qAkFfQm1obRKgR2r91dsvfrT5QzDWqqpQEoIq6nfM8Ibzxxkl1XChhlxh-alOT97cfk2p1L0mKHM8LaDaaAfYYomEWgUq420d58CqvJVbJj2zcoNzFSljUptKpGVxh_5G9sqRp9s2KsNWZDOpxwZTHD1CKZu-bmUxtC0kWeLBUCKMxRHJa27r2qGFb_gSGmO-OLqHcxUu4xEVwyqlMIz-iP4GV-IQcCiP3SJwKE2OXFm-AWuftibkOfUm7Ngmh1ngiMPfziPiaNpmhy1-md2s_DhzyPRVpKPTkA3ur3mOtId5iBdt0_fkRVugcK_Kx9SYfgmnX3YvI_O94qwbooXSbABHHAkho-CRIsincJ9ba7cyMgd0X6rsE9fKIS-_C_KI_kcX4dj6YMeeoDHgiQtRVD7BIpk05Sc7umqlmO8I3K6MABkOa-trmmHF5jFX0O9x933OOpBhrFcQTyxjNMuwCTrEliLS8WCAlGJxIcaLHRg-iWnctmIju7Vs4ZfhR9jqw4MawuwvodtpAu2_k9RmcT3yRDwS6CofFQojYjhAtsByCJ9omrtoyNfquiSNgdwQ8QEm23YsYHM166HT7IReIUTFV43soC3a787ltFke4rAwsU302eegVVLH620-DDKHd0-WJRD2KkLcpHspy4_cH7pL6dH-peU4sa4lmeYHHu2JxB4AZSNj1KCBafYWUiT4NTjMc9HnptKcR-zsvc_3D_POGGEYPyUHWib4JIILEZCyTONbNm2r_rAsYNhow5HgxwCai6kpKhTpiu68Ux7n9_h6zjgUJGSb1URpL7YLtgEzQpxo23qrQltie20LgBBbNson1_pv4j_-ZOZeIMWYLkWHXo1j5S2SZsQift5U7_-8tIx1WuxtlNjDI265B_3KsMjWJ9A5LEdcrvqmSwYbkzPNZlp15O49NqotV2nGnaXPTRDK7-mkGmZC5f_elit_NbDOuV_upBsYDKqvfox2R_JG1ilY9-OGEm2xI4kPF9G-TS4SdmEqvfCgIBfkjJxrSsQaCutqKtVvRWO7FRxseb27ATOdK-1Ukgfr7vLDNsyyDNso03rqi9skdmcGwl9Vf4Km2zkhbXU042Cb5syVKIFLVwdhIKsaawgltZdbo7r7cwtzXq6rFRLLaSU5ALAGu4yar8); */
    background-repeat: no-repeat;
    
}

.igrok {

    position: absolute;
    top: 35%;
    left: 25%;
    color: #f4f4f4;
    font-stretch: ultra-condensed;
}

.roli {
    position: absolute;
    top:40%;
    left: 325%;
    color:red;
    font-stretch: ultra-condensed;
}

.oscar {
    position: absolute;
    top: 48%;
    left: 25%;
    color: #f4f4f4;
    font-stretch: ultra-condensed;
}

.regisser {
    position: absolute;
    top: 42%;
    left: 25%;
    color: dimgray;
    font-stretch: ultra-condensed;
}

.pol {
    position: absolute;
    top: 42%;
    left: 36%;
    color: #f4f4f4;
    font-stretch: ultra-condensed;
}

.smotr {
    position: absolute;
    top: 50%;
    left: 28%;
    color: blueviolet;
    font-stretch: ultra-condensed;
}

.button1 {
    width: 100px;
    height: 50px;
    background: linear-gradient(150deg, blue, blue, violet, orange);
    color: #f4f4f4;
    border-radius: 10px;
    position: absolute;
    top: 57%;
    left: 28%;
}

.button2 {
    width: 100px;
    height: 50px;
    background: gray;
    color: #f4f4f4;
    border-radius: 10px;
    position: absolute;
    top: 57%;
    left: 40%;
}

.content {
    font-family: "graphicItal";
    /* margin-left: 20%; */

}
<<<<<<< HEAD
#task{
    margin-left: 23%;
}
=======
.container{
    margin-left: 23%;
    position: relative;
}

>>>>>>> 1eaab79360cfd97c78d0a4979c38953b98bd7728
.container img {

    border-radius: 20px;
    padding: 10px;
    margin-left: 0%;
}
#tick{
    margin-left: 500px;
    font-size: 1.6em;
   
}
.tvstd {
    filter: brightness(50%);
}

.btn {
    
    /* top: 45%;
    right: 70%; */
    transform: translate(-25%, -25%);
    -ms-transform: translate(-25%, -25%);
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 25px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40%;
    top:100%;
    position:absolute;

}


.btn:hover {
    background-color: rgb(255, 136, 0);
}
#why{
    margin-left: 23%;
   

}
#ph{
    border-radius: 25px;
    padding:15px;
}
p {
    /* font-size: 2em; */
    font-family: 'graphicItal', Times, serif;
    font-weight: bold;

}

#right {
    margin-left: 700px;
    color:black;
    font-size: 16px;


}

.colortext {
    color: grey;
    font-weight: none;
}

#badge {
    position: absolute;
    top: 1020px;
    left: 1130px;
}

#badge1 {
    position: absolute;
    top: 1020px;
    left: 1600px;
}

#badge2 {
    position: absolute;
    top: 800px;
    left: 1420px;
}

h2 {
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    color: white;

}

#badge3 {
    position: absolute;
    top: 800px;
    left: 940px;
}

h3 {
    position: absolute;
    top: -15px;
    left: 9px;
    width: 100%;
    color: white;

}










































































































































































































#prog {
    margin-left: 19%;
}

.POP {
    font-size: 1.6em;
    margin-left: 20%;
}
#what{
    top: 360 px;
        margin-left: 15%;
        margin-right: 50%;
}
#blue{
    font-size: 1em;
        color: blue;
        margin-left: 15%;
        margin-right: 30%;
}
#blue:hover {
        color: rgb(255, 115, 0);
    }
    /* h4 {
        top: 360 px;
        margin-left: 15%;
        margin-right: 50%;
    }

    p {
        font-size: 1em;
        color: blue;


    }

     */

span {
    color: orange;
}

span1 {
    color: black;

}

#z1 {
    position: absolute;
    top: 3020px;
    left:550px;
}

#z2 {
    position: absolute;
    top: 2620px;
    left: 600px;
}

#z3 {
    position: absolute;
    top: 2750px;
    left: 660px;
}

#z4 {
    position: absolute;
    top: 2520px;
    left: 500px;
}

#z5 {
    position: absolute;
    top: 2430px;
    left: 600px;
}

#z6 {
    position: absolute;
    top: 4000px;
    left: 500px;
}

#z7 {
    position: absolute;
    top: 2920px;
    left: 620px;
}

#z8 {
    position: absolute;
    top: 4000x;
    left: 430px;
}

#z9 {
    position: absolute;
    top: 3150px;
    left: 650px;
}

#z10 {
    position: absolute;
    top: 3110px;
    left: 540px;
}

#sos {
    margin-left: 15%;
    border-radius: 10px;

}

.a {
    margin-left: 40%;
    margin-top: -10%;
    color: black;
    font-size: 1.6em;

}

.s {
    margin-left: 30%;
    border-radius: 10px;
}

.p {
    font-size: 1.6em;
}

.A {
    font-size: 1.6em;
    margin-top: 25px;

}

#s {
    border-radius: 10px;
}
#hot{
    color:blue;
    margin-right: -20%;
}
#hot:hover{
    color:orange;
}
#red {
    font-size: 1.6em;
    color:blue;  
}
#red:hover{
    color:orange;
}

#box {

    border-radius: 10px;
}

.px {
    margin-left: 100px;
    margin-top: -250px;
}

#box2 {
    border-radius: 10px;
}

#box3 {
    border-radius: 10px;
}

#box4 {
    border-radius: 10px;
}

#bt1 {
    font-size: 1.4em;

}

#hamatova {
    height: 155px;
    width: 230px;
    border-radius: 10px;
    margin-left: 130px;
    color:blue;
   
}
#hamatova:hover{
    color:orange;
}


#p1 {
    height: 25px;
    width: 40px;
    margin-left: 130px;
    margin-top: -30px;
    border-radius: 100px;
}

#Duna {
    height: 155px;
    width: 230px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: -100px;
}

#i2 {
    height: 25px;
    width: 40px;
    margin-left: -240px;
    margin-top: -150px;
    border-radius: 100px;
}

#D {
    margin-left: 130px;
    margin-top: 5px;
    color:blue
}


#D:hover{
    color:orange;
}
#play {
    height: 155px;
    width: 240px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 30px;

}

#i3 {
    height: 25px;
    width: 40px;
    margin-left: -240px;
    margin-top: -150px;
    border-radius: 100px;
}

#oct {
    margin-left: 130px;
    margin-top: 5px;
    color:blue
}
#oct:hover{
    color:orange;
}

#loq {
    height: 155px;
    width: 230px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 30px;

}

#i4 {
    height: 25px;
    width: 40px;
    margin-left: -240px;
    margin-top: -150px;
    border-radius: 100px;
}

#l {
    margin-left: 130px;
    margin-top: 5px;
    COLOR:BLUE;
}
#l:hover{
    color:orange;
}

#jony {
    height: 155px;
    width: 230px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 30px;

}

#i5 {
    height: 25px;
    width: 40px;
    margin-left: -240px;
    margin-top: -150px;
    border-radius: 100px;
}

#j {
    margin-left: 130px;
    margin-top: 5px;
    color:blue;
}
#j:hover{
    color:orange;
}