
   header {
    position: fixed;
    background-color: #333333;
    z-index: 2;
    display: grid;
    grid-template-columns: 200px 1fr auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0%;
    height: 72px;
    padding: 15px 0 0 150px;
    }
.leftpanel{
    height: 100%;
    width: 250px;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 85px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 90px;
}
.leftpanel a{
    padding: 6px 8px 6px 40px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    line-height: 30px;
    
}
.leftpanel a:hover{
    color: #666666;
    transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
}
body{
    background: #f2f2f2;
}
*{
    margin: 0%;
    padding: 0%;
}

header a {
color: #AAAAAA;
    text-decoration: none;
}
 
header a:hover {
    color:#FFFFFF;
    }
.scroll{
    height: 1200px;
}
.choicepic {
    position:absolute;
    left:180px;
    top: 580px;
    height: 125%;
    width: 500px;
    zoom: 200%;}
.choice { 
    position:absolute;
    left:361px;
    top: 1090px;
}
.choicepic2 {
        position:absolute;
        left:180px;
        top: 760px;
        height: 125%;
        width: 500px;
        zoom: 200%;}
    .choice2 { 
        position:absolute;
        left:361px;
        top: 1450px;}
.PhotoT {
    position:absolute;
    left: 180px;
    top: 370px;
    height: 125%;
    width: 500px;
    zoom: 200%;
}
.tickets {
    top: 680px;
    position:absolute;
    margin-left: 361px;
}

.mainphoto {
    position:absolute;
    left:410px;
    top:100px;
    
    
    zoom: 88%;}

.banner1 {position:absolute;
    left: 1900px;
    top: 3600px;
     zoom: 50%;}
h3 {
    
    left:10000px;
    top:5000px;
    
}