body{
    margin: 0;
}
header{
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: rgb(26, 25, 25);
    height: 80px;
    width: 100%;
    color: whitesmoke;
    font-family: Geneva, Tahoma, sans-serif;
}


.Kino{
    position: absolute;
    left: 130px;
    top: 20px;
    font-size: xx-large;
}

.console{
 position: relative ;
    top: 20px;
    left: 160px;
    height: 40px;
    opacity: 0;
    width: 150px;
}

.search{
    position: fixed;
    top: 23px;
    right: 350px;
    left: 770px;
    width: 330px;
    height: 40px;
    border-radius: 7px;
}

.nayti{
    position: fixed;
    top: 34px;
    left: 1050px;
}

.text1 {
    position: fixed;
    right: 870px;
    left: 350px;
    top: 34px;
    color: gray;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    opacity: 1;
    font-size: 17px;
}

.text2 {
    position: fixed;
    right: 600px;
    left: 550px;
    top: 35px;
    color: gray;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    opacity: 1;
    font-size: 17px;


}

.text1:hover {
    opacity: 0.6;
}
.text2:hover {
    opacity: 0.6;
}



.start{
    position: fixed;

    top: 19px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    opacity: 1;
}
.start:hover {
    opacity: 0.6;
}

.play{
    position: fixed;
    left: 330px;
    top: 32px;
}

.playbut{
    position: fixed;
    left: 330px;
    top: 28px;
    height: 27px;   
    width: 25px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 

}

.pc{
    position: fixed;
    left: 520px;
    top: 31px;
}

.pcbut{
    position: fixed;
    left: 520px;
    top: 25px;
    height: 30px;
    width: 30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.log{
    position: fixed;
    top: 30px;
    margin-left: 70vw;
    margin-right: 10vw;
    background-size: contain;

}
.chi{
    position: fixed;
    top: 30px;
    margin-left: 68vw;
}
.bookmark{
    position: fixed;
    margin-left: 66vw;
    top: 30px;
}

.zakl1{
    position: absolute;
    height: 23px;
    width: 15px;
    top: 30px;
    margin-left: 66vw;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    
 
}

.zakl2{
    position: absolute;
    height: 25px;
    width: 40px;
    margin-left: 68vw;
    top: 30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

    
}

.zakl33{
    position: absolute;
    height: 25px;
    width: 25px;
    margin-left: 70vw;
    top: 30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    
}


footer{
    position: relative;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    height: 230px;
    width: 86vw;
    
}

.under{
    color: rgb(122, 122, 122);
    font-size: 18px;
    word-spacing: 25px;
}
hr{
    background-color:rgb(12,12,12) ;
    opacity: 0.1;
    left: 20px;
}

.GG-center{
    margin: auto;
    color: grey;
}
.GG-right{
    text-align: right;
    color: grey;
}
.GG-left{
    color: grey;
}
.icons{
        letter-spacing: 50px;
}
.menu{
    position: sticky;
    top: 0;
    width: 200px;
    line-height: 2.5;
    margin-left: 7.5vw;
    padding-top: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btnMenu{
    color: gray;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    opacity: 1;
    font-size: 16px;
    margin-left: 10px;
}
.btnMenu:hover{
    opacity: 0.6;
}
.leftbox{
    position: sticky;
    top: 80px;
    float: left;
    margin: 0;
    width: 7vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}
.rightbox{
    position: sticky;
    top: 80px;
    float: right;
    margin: 0;
    width: 7vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}
.content{
    height: 45vh;
    background-color: black;
    border-radius: 10px 40px 40px 10px;
    margin-right: 10vw;
    margin-left: 25vw;
}
.pic1{
    height: 45vh;
    float: right;
    width: 44vw;
    border-radius: 36px;
}
.btn{
    margin-top: 35vh ;
    font-size: 2vh;
     margin-left: 2vw;
     background-color: darkorange;
     color: whitesmoke;
     border-radius: 5px 5px 5px 5px;
     font-family: Geneva, Tahoma, sans-serif;
}
.btn2{
    font-size: 2vh;
    margin-left: 0.5vw;
    position: absolute;
    margin-top: 35vh;
    background-color:rgb(39,39,39);
    opacity: 0.4;
    color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    font-family: Geneva, Tahoma, sans-serif;
}
.pic1name{
    position: absolute;
    margin-top: 5vh;
    font-size: 3vh;
    font-size: 2vw;
    margin-left: 3vw;
    margin-right: 46.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkorange;
}
.pic1clov{
    font-size: 1vw;
    color: whitesmoke;
    position: absolute;
    margin-top: 10vh;
    margin-left: 1vw;
    width: 19vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.big-block{
    height: 35vh;

margin-top: 5vh;

background-color: white;
margin-right: 10vw;
    margin-left: 25vw;

color: black;
}

.textbil{
    width: 100%;
    font-size: 3vh;
    font-size: 1.5vw;
}
.textall{
    float: right;
    margin-right: 3vw;
    font-size: 3vh;
    font-size: 1.5vw;
}

.photo-mesto{
    width: 67vw;
    height: 14vh;

}
.vech{
    height: 24vh;
    padding-right: 0.8vw;
    width: 10vw;
    border-radius: 7px ;
}
.text-mesto1{
    margin-top: 10vh;
    font-size: 2vh;
    font-size: 1vw;
}
.otst1{
margin-top: 0vh;
}

.kosh-text{
    margin-left: 7vw;
}
.kosh-abz{
    margin-left: 4vw;
}
.venom-text{
    margin-left: 3.2vw;
}
.venom-abz{
    margin-left: 2.8vw;
}
.ron-text{
    margin-left: 7vw;
}
.ron-abz{
    margin-left: 3.5vw;
}
.dun-text{
    margin-left: 3vw;
}
.dun-abz{
    margin-left: 3.3vw;
}
.hel{
margin-left: 7.4vw;
}
.hel-abz{
margin-left: 1vw;
}
.vybor{
    font-size: 3vh;
    font-size: 1.5vw;
    margin-right: 7vw;
    margin-left: 25vw;
    width: 68vw;
}
.n{
    height: 24.7vh;
    width: 16.7vw;

}

.image-flex3 {
    position: sticky;
    margin-right: 7vw;
    margin-left: 25vw;
    background-color: rgb(20,20,20);
    
  }
  
  
  .ykral{
    margin-top: 4vh;
        height: 25vh;
        width: 30vw;
        margin-left: 20vw;
        margin-right: 20.7vw;
  }
  .p1pic{
      margin-top: 1.5vh;
      width: 68vw;
  }
  .text-vibor{
    margin-left: 4vw;
        font-size: 3vh;
        margin-top: vh;
        color: whitesmoke;
  }
  .photofilm{
    margin-left: 0.5vw;
  }
  .pgotoser{
    height: 25vh;
    width: 16vw;
    padding-right: 0.7vw;
  }
  .pgotoser-out{
    height: 25vh;
    width: 16vw;
  }
  
  .spizdilphoto{
    height: 23vh;
    width: 60vw;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 3vh;
        margin-bottom: 4.2vh;
  }
  .spizdil{
    height: 30vh;
  }
  





  
.buttn{
    width: 24vw;
    height: 4vh;
    margin-left: 7vw;
    font-family:   'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    margin-left: 25vw;
    margin-right: 7vw;
    height: 80vh;
}
.pervdoch{
    flex-grow: 1;
height: 10vh;
width: 10vh;
}
.vtordoch{
    flex-grow: 1;
    height: 10vh;
    width: 10vh;
}
.tretdoch{
    flex-grow: 1;
    height: 10vh;
    width: 10vh;
}
.pervcont{
    margin-left: 4vw ;
        margin-right: 4vw;
        height: 14vh;
;
}
.vtorcont{
margin-left: 7vw;
margin-left: 7vw;
height: 20vh;
width: 23.5vw;
}
.tretcont{
    margin-right: 6vw;
}
.novosti{
    margin-left: 29vw;
    margin-bottom: 2vh;
    margin-right: 13vw;
    margin-top: 4vh;
    font-size: 2vw;
}
.newvideo{
    float: right;
}
.glavtyd{
    margin-left: 9.4vw;
    margin-right: 13vw;
}
.texttest{
    width: 85%;
    font-size: 2vh;
    margin-left: 4vw;
}
.vtordich{
    margin-left: 6.8vw;
    margin-top: 1vh;
    height: 40vh;
    width: 24vw;
}

.newtrailer{
    margin-left: 29vw;
    font-size: 3vh;
}
.trailer{
    float: right;
    margin-right: 14vw;
    font-size: 3vh;
}
.video{
    margin-left: 29vw;
    padding-right: 1vw;
}
.video-2{
    padding-right: 1vw;
    
}

