/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
*:focus {
  outline: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
  background: #F4F4F4;
}

.wrapper {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

header {
    background: #1F1F1F;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 72px;
    width: 1184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 76px;
    cursor: pointer;
}

.logo img {
    width: 162px;
    height: 20px;
}

.menu-buttons {
    display: flex;

}

.title a {
    color: #A5A5A5;
    font-size: 12pt;
    transition: 100ms;
}

.menu-item {
    display: flex;
    margin-right: 24px;
}

.menu-item:first-child::before{
    content: "";
    width: 25px;
    margin-right: 10px;
    background: url(src/play-btn-passive.svg) no-repeat;
    transition: 100ms;
}

.menu-item:first-child:hover::before{
    background: url(src/play-btn.svg) no-repeat;
    transition: 100ms;
    cursor: pointer;
}

.menu-item:last-child::before{
    content: "";
    width: 25px;
    margin-right: 10px;
    background: url(src/tv-btn-passive.svg) no-repeat;
    transition: 100ms;
}

.menu-item:last-child:hover::before{
    background: url(src/tv-btn.svg) no-repeat;
    transition: 100ms;
    cursor: pointer;
}


.title a:hover {
    color: #fff;
    transition: 100ms;
}

.search-bar input {
  background-color: #414141;
  color: black;
  width: 340px;
  height: 33px;
  border-width:0px;
  border:none;
  padding: 10px 17px;
  border-radius: 3px;
  transition: all 100ms;
  
}

.search-bar input:focus {
  background-color: #F2F2F2;
  transition: all 100ms;
}


.search-bar input::placeholder {
  color: rgb(138, 138, 138);
  font-size: 11pt;
}


.profile-options {
  display: flex;
  align-items: center;
}

.yand-btn {
  width: 100px;
  height: 43px;
  border-radius: 4px;
  background: linear-gradient(
    130.16deg,#505add 34.4%,#be40c0 66.11%,#fba82b 96.37%);

  font-size: 9pt;
  line-height: 13px;
  transition: all 100ms;
  margin-right: 14px;
}

.yand-btn:hover {
  transform: scale(1.05);
  transition: all 100ms;
  
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #414141;
}

.content {
  width: 1282px;
  background: #ffffff;
  height: 100vh;
  margin: 0 auto;
  display: flex;

}

.side-bar {
  width: 240px;
  height: 100%;
  padding: 32px 32px 0 45px;
  border-right: 1px solid #E8E8E8;
}

.side-item{
  height: 17px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
}

.side-item .title a{
  font-size: 11.5pt;
}

.side-item.active a{
    color: #1F1F1F;
    font-weight: 600;
}

.side-item.active:hover::before{
  color: #1F1F1F;
  opacity: 1;
}

.side-item:nth-child(1)::before {
    content: "";
    width: 16px;
    height: 25px;
    margin-right: 10px;
    background: url(src/main.svg) center no-repeat;
    border-bottom: 3px solid #ED6F2D;
}

.side-item:hover a {
  color: #484848;
}



.side-item:nth-child(2)::before {
  cursor: pointer;
  content: "";
  width: 16px;
  height: 25px;
  margin-right: 10px;
  background: url(src/side-play-btn.svg) center no-repeat;
  opacity: .4;
  filter: invert(1);
}

.side-item:nth-child(3)::before {
  cursor: pointer;
  content: "";
  width: 16px;
  height: 25px;
  margin-right: 10px;
  background: url(src/movs.svg) center no-repeat;
  opacity: .4;
  filter: invert(1);
}

.side-item:nth-child(4)::before {
  cursor: pointer;
  content: "";
  width: 16px;
  height: 25px;
  margin-right: 10px;
  background: url(src/series.svg) center no-repeat;
  opacity: .4;
  filter: invert(1);
}

.side-item:nth-child(5)::before {
  cursor: pointer;
  content: "";
  width: 16px;
  height: 25px;
  margin-right: 10px;
  background: url(src/tickets.svg) center no-repeat;
  opacity: .4;
  filter: invert(1);
}

.side-item:nth-child(6)::before {
  cursor: pointer;
  content: "";
  width: 16px;
  height: 25px;
  margin-right: 10px;
  background: url(src/media.svg) center no-repeat;
  opacity: .4;
  filter: invert(1);
}

.side-item:hover::before {
  opacity: .6;
}

.main-content {
  width: 100%;
  padding: 31px 50px;
  display: flex;
  justify-content: center;
}

.banner-movie {
  width: 100%;
  height: 400px;
  background: #484848;
  border-radius: 5px;
}


@media screen and (max-width: 1280px)  {

  .header-container {
    width: 1000px;
  }

  .content {
    max-width: 1000px;
    
  }
  
  
  .menu-item:last-child {
    display: none;
  }

}

@media screen and (max-width: 1035px)  {

  .header-container {
    width: 900px;
  }
  
  .content {
    max-width: 800px;
  }

  .menu-item:last-child {
    display: none;
  }

}


@media screen and (max-width: 1000px)  {

  .header-container {
    width: 700px;
  }
  
  .menu-item{
    display: none;
  }


}

@media screen and (max-width: 900px)  {

  .header-container {
    width: 600px;
  }

  .side-bar {
    display: none;
  }

  .content {
    max-width: 600px;
  }
  
  .search-bar {
    display: none;
  }


}

@media screen and (max-width: 630px)  {

  .header-container {
    max-width: 350px;
  }
  
  .profile-options {
    display: none;
  }


}