body {
    font-family: Helvetica;
}
.boxoutline {
    display: flex;
    width: 1030px;
    height: 400px;
    ;
    
}

.leftbox {
    color: white;
    text-align: left/justify;
    background-color: black
}

.rightbox {
    background-color: black
}